
{% extends 'files/base.html' %}

{% block title %}
<title>Login page</title>
{% endblock %}

{% block content %}

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 text-center">
            <div class="form-outline mb-4 ">
                <h3>Sign into your account</h3>
              </div>
          <hr><br><br>
          <form method="post" action="{% url 'log_in:index' %}">

            {% csrf_token %}
            
            <!-- User input -->
            <div class="form-outline mb-4">
              <input type="text" id="username" class="form-control form-control-lg" placeholder="Username" name="username" required/>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" class="form-control form-control-lg" placeholder="Password" name="password" required/>
              
            </div>
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
  
            <br><br><hr>
            
          </form> 

          <form action="{% url 'sign_up_page:formal' %}" method="" >
                {% csrf_token %}
                <div>
                  <p class="text-center text-muted mt-5 mb-0 " >
                    Don't have an account? <button class=" text-dark btn-outline-light ">Sign Up</button>
                  </p>
                </div>
          </form>           
        </div>
      </div>
    </div>
  </section>


{% endblock %}

